pykalman==0.9.5
statsmodels==0.8.0
redis==2.10.6
influxdb==4.1.1
urllib3==1.22
schedule==0.4.3
jupyter==1.0.0
matplotlib==2.1.0rc1
bokeh==0.12.7
hide_code==0.4.0
forbiddenfruit==0.1.2
yapf==0.17.0
jupyter_contrib_nbextensions==0.3.1
jupyterthemes==0.17.3
nbconvert==5.3.0
pillow==4.2.1

