pykalman==0.9.5
statsmodels==0.9.0
redis==3.1.0
influxdb==5.2.1
urllib3==1.24.2
schedule==0.6.0
jupyter==1.0.0
matplotlib==3.0.2
bokeh==1.0.4
hide_code==0.5.2
forbiddenfruit==0.1.2
yapf==0.26.0
jupyter-contrib-nbextensions==0.5.1
jupyterthemes==0.20.0
nbconvert==5.4.1
pillow==5.4.1
filelock==3.0.10
tabulate==0.8.3
jupyterlab==0.35.4
scikit-learn==0.20.3
pathos==0.2.3
numba==0.43.1

