pykalman==0.9.5
statsmodels==0.8.0
redis==2.10.5
influxdb==4.0.0
urllib3==1.20
schedule==0.4.2
jupyter==1.0.0
matplotlib==2.0.0
bokeh==0.12.4
hide_code==0.4.0
forbiddenfruit==0.1.2
yapf==0.16.1
jupyter_contrib_nbextensions==0.2.6
jupyterthemes==0.14.4
nbconvert==5.1.1

